@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-family: "swear-display-cilati", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2{
  font-family: "swear-display-cilati", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "swear-display", serif;
  font-weight: 700;
  font-style: italic;
}

h4{
  font-family: "swear-display", serif;
  font-weight: 400;
  font-style: italic;
}

h5{
  font-family: "swear-display", serif;
  font-weight: 400;
  font-style: normal;
}

h6 {
  font-family: "swear-display", serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-container {
  display: flex;
  position: relative;
}

.timeline-card {
  width: 364px;
  min-height: 300px;
  height: auto;
  background-color: #f0f0f06e;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
  z-index: 1;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: auto;
  margin-right: 15px;
  margin-left: 5px;
  margin-top: 12px;
}

.year-container {
  display: flex;
  flex-direction: column;
}

.year {
  font-size: 85px;
  color: #666;
  font-weight: 500;
  line-height: 0.9;
  font-family: 'PP Neue Montreal', sans-serif;
}

.status {
  font-size: 48px;
  margin-top: -10px;
  font-weight: 500;
  color: #666;
  font-family: 'PP Neue Montreal', sans-serif;
}

.role-container {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

#leadership-arrow {
  color: #003DAE;
}

#roles-detail-panel {
  width: 320px;
}

.role {
  font-size: 27px;
  font-weight: 500;
  font-family: 'Chivo Mono', monospace;
  width: 104%;
  padding: 3px 10px;
  border: 2px solid transparent;
  border-radius: 10px 0px 0px 10px;
  color: #000000;
  background-color: #00E494;
  margin-bottom: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.role.expanded {
  background-color: transparent;
  border: 2px solid #1de9b6;
}

.department {
  font-size: 16px;
  font-family: 'Chivo Mono', monospace;
  color: #555;
  margin-top: 5px;
  padding-left: 32px;
  padding-right: 15px;
}

.section {
  margin-bottom: 15px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
}

.section-title-container {
  position: relative;
  margin-bottom: -8px;
  border-bottom: 1px solid #a1a1a1;
  padding-bottom: 5px;
}

.section-title {
  width: 100%;
  font-family: 'Chivo Mono', monospace;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #070707;
  background-color: transparent;
  display: inline-block;
}

.section-title-arrow {
  margin-left: 0px;
  display: inline-block;
  transition: transform 0.3s ease;

  transform: rotate(-180deg);
}

.section-title-arrow.right {
  transform: rotate(0deg);
}

.leadership-content {
  font-size: 15px;
  line-height: 1.2;
  color: #666;
  margin-top: 20px;
  width: 100%;
  padding-left: 10px;
  padding-right: 0px;
  font-family: 'Raleway', sans-serif;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.leadership-content.expanded {
  max-height: 300px;
  transition: max-height 0.5s ease-in;
}

.leadership-content p {
  margin-bottom: 10px;
}

.highlight-text {
  color: #003DAE;
  font-weight: bold;
}

.achievement-item {
  margin-bottom: 0px;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  transition: margin-top 0.3s ease, margin-bottom 0.3s ease;
}

.achievement-bullet {
  color: #666;
  font-weight: bold;
  margin-right: 8px;
}

.achievement-text {
  font-size: 15px;
  color: #666;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.achievements-bottom-line {
  border-bottom: 0.7px solid #ddd;
  margin-top: 10px;
}

.skills {
  width: 364px;
  margin-top: 0px;
  padding-bottom: 20px;
  display: flex;
  margin-left: -20px;
  padding-left: 35px;
  padding-right: 15px;
  align-items: center;
  background: #ffffff88;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

}

.skills-title {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  font-family: 'Chivo Mono', monospace;
  color: #000000;
}

.info-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ddd;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
}

.expandable-panel {
  position: absolute;
  left: 364px;
  background-color: #f0f0f06e;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 480px;
  height: auto;
  color: #666;
  font-size: 14px;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 0.3s, top 0.8s ease;
}

.expandable-panel.active {
  opacity: 1;
  visibility: visible;
  z-index: 0;
}

.role-details-panel {
  top: 30px;
  width: 320px;
}

.leadership-panel {
  top: 200px;
}

.achievement1-panel {
  top: 300px;
}

.achievement2-panel {
  top: 300px;
}

.achievement3-panel {
  top: 300px;
}

.panel-section {
  margin-bottom: 10px;
}

.panel-section h4 {
  color: #000000;
  margin-bottom: 6px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: bold;
}

.panel-section p {
  color: #333;
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

.panel-section p .blue-text {
  color: #003DAE;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.panel-checkmark {
  color: #003DAE;
  font-weight: bold;
  margin-right: 5px;
}

.achievements-section .achievement-item {
  margin-top: 10px;
}

.achievement-item.active .achievement-text {
  color: #003DAE;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-right: 20px;
}

.lo-subrayado {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.arrow-container {
  display: inline-flex;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(
      to bottom,
      transparent 40%,
      rgba(245, 245, 245, 1) 60%
  );
  min-height: 100vh;
  overflow-y:hidden;
}

/* Video Container Styles */
#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  z-index: -10;
  overflow: hidden;
  mask-image: linear-gradient(
      to bottom,
      transparent,
      black 10%,
      black 70%,
      transparent 100%
  );
  -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      black 10%,
      black 70%,
      transparent 100%
  );
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

.video-fade {
  position: absolute;
  top: 0;
  width: 100px;
  height: 60vh;
  z-index: 1;
}

.video-fade-left {
  left: 0;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 1),
      transparent
  );
}

.video-fade-right {
  right: 0;
  background: linear-gradient(
      to left,
      rgba(245, 245, 245, 1),
      transparent
  );
}

/* Professional Path Header */
.professional-path-container {
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 40px;
  right: 150px;
  z-index: -30;
  text-align: right;
}

.professional-path-title {
  font-size: 65px;
  font-weight: 600;
  color: #0047AB;
  line-height: 1;
  z-index: -10;
  font-family: 'Raleway', sans-serif;
}

.professional-path-subtitle {
  font-size: 16px;
  color: #444;
  max-width: 620px;
  z-index: -10;
  line-height: 1.4;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
}

/* Globe Container Styles */
#globe-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  mask-image: linear-gradient(
      to bottom,
      transparent,
      black 10%,
      black 70%,
      transparent 100%
  );
  -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      black 10%,
      black 70%,
      transparent 100%
  );
}

#globe-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(0px);
}

.globe-fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  z-index: 1;
}

.globe-fade-left {
  left: 0;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 1),
      transparent
  );
}

.globe-fade-right {
  right: 0;
  background: linear-gradient(
      to left,
      rgba(245, 245, 245, 1),
      transparent
  );
}

/* Timeline Container Styles */
.timeline-container {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden; 
  display: flex;
  align-items: end;
  background: transparent;
  margin: 0 auto;
  z-index: 50;
}

/* Detailed Card Styles - For Active Card! */
.timeline-card.active {
  width: 364px;
  max-width: 100vw;
  height: 553px !important;
  overflow: scroll;
  background-color: #f0f0f06e;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
  z-index: 100;
  display: block;
  margin: 0 20px;
}

.detailed-content{
  z-index: 50;
}

.timeline-wrapper {
  display: flex;
  min-height: 50vh;
  align-items: center;
  position: relative;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(0);
  z-index: 0;
}

.scroll-arrow {
  position: fixed;
  width: 40px;
  height: 40px;
  background: #0047AB;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 18px;
}

.scroll-arrow:hover {
  background: #003380;
}

.left-arrow {
  left: 35px;
}

.right-arrow {
  right: 35px;
}

.blur-overlay {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 0;
  backdrop-filter: blur(2px);
}

.blur-left {
  left: 0;
  background: linear-gradient(to right, rgba(245,245,245,1), transparent);
}

.blur-right {
  right: 0;
  background: linear-gradient(to left, rgba(245,245,245,1), transparent);
}

/* Timeline Card Styles - Compact View */
.timeline-card {
  min-width: 180px;
  width: 180px;
  height: 260px;
  margin: 0 10px;
  font-family: 'Raleway', sans-serif;
  background: #ffffffaa;
  color: #666;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  opacity: 1;
  transform-origin: center center;
  padding: 10px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 100;
}

.timeline-card .year {
  font-size: 50px;
  text-align: center;
  font-weight: 500;
  line-height: 0.9;
  font-family: 'PP Neue Montreal', sans-serif;
  margin-bottom: 5px;
  color: #555;
}

.timeline-card .status {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  font-family: 'PP Neue Montreal', sans-serif;
  color: #777;
}

.timeline-card:not(.active) {
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.timeline-card:not(.active):hover {
  transform: scale(1.05);
  opacity: 0.85;
}

.timeline-card.blurred {
  opacity: 0.3;
}

.logo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 65%;
  margin: auto;
  justify-content: center;
  justify-items: center;
  display: none;
}

.card-location {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #272727;
  font-style: italic;
  text-align: right;
}

.timeline-card.active .card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.timeline-card.active .logo {
  width: 120px;
  height: auto;
  margin-right: 15px;
  margin-left: 5px;
  margin-top: 12px;
}

.timeline-card.active .year-container {
  display: flex;
  flex-direction: column;
}

.timeline-card.active .year {
  font-size: 74px;
  color: #666;
  font-weight: 500;
  line-height: 0.8;
  font-family: 'PP Neue Montreal', sans-serif;
  text-align: right;
  padding: 0;
}

.timeline-card.active .status {
  font-size: 48px;
  margin-top: -10px;
  font-weight: 500;
  color: #666;
  font-family: 'PP Neue Montreal', sans-serif;
}

.role-container {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  line-height: 170%;
}

.role {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Chivo Mono', monospace;
  width: 80%;
  max-width:80%;
  padding: 3px 10px;
  border: 2px solid transparent;
  border-radius: 10px 10px 10px 10px;
  color: #000000;
  background-color: #00E494;
  margin-bottom: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 500;
}

.role.expanded {
  background-color: transparent;
  border: 2px solid #1de9b6;
}

.role-arrow {
  display: inline-block;
  position: absolute;
  margin-left: 150px;
  transition: transform 0.3s ease;
  transform: rotate(-180deg);
}

.role-arrow.right {
  transform: rotate(0deg);
}

.department {
  font-size: 16px;
  font-family: 'Chivo Mono', monospace;
  color: #555;
  margin-top: 5px;
  padding-left: 25px;
  padding-right: 15px;
}

.section {
  margin-bottom: 15px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
}

.section-title-container {
  position: relative;
  margin-bottom: -8px;
  border-bottom: 1px solid #a1a1a1;
  padding-bottom: 5px;
}

.section-title {
  width: 100%;
  font-family: 'Chivo Mono', monospace;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 400;
  display: flex;
  align-items: left;
  cursor: pointer;
  color: #070707;
  background-color: transparent;
}

.section-title-arrow {
  margin-left: 15px;
  display: inline-block;
  transition: transform 0.3s ease;
  transform: rotate(-180deg);
}

.section-title-arrow.right {
  transform: rotate(0deg);
}

.leadership-content {
  font-size: 15px;
  line-height: 1.2;
  color: #666;
  margin-top: 20px;
  width: 100%;
  padding-left: 10px;
  padding-right: 0px;
  font-family: 'Raleway', sans-serif;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.3s ease;
}

.leadership-content.expanded {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.8s ease-in, opacity 0.3s ease 0.2s;
}

.leadership-content p {
  margin-bottom: 10px;
}

.achievement-content {
  font-size: 15px;
  line-height: 1.2;
  color: #666;
  width: 100%;
  padding-left: 10px;
  padding-right: 0px;
  font-family: 'Raleway', sans-serif;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.3s ease;
}

.achievement-content.expanded {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.8s ease-in, opacity 0.3s ease 0.2s;
}

.achievement-content p {
  margin-bottom: 10px;
}

.highlight-text {
  color: #003DAE;
  font-weight: bold;
}

.achievements-section {
  display: none;
}

.timeline-card.active .achievements-section {
  display: block;
  margin-bottom: 30px;
}

.achievement-item {
  margin-top: 12px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  transition: margin-top 0.3s ease, margin-bottom 0.3s ease;
}

.achievement-bullet {
  color: #666;
  font-weight: bold;
  margin-right: 8px;
}

.achievement-text {
  font-size: 15px;
  color: #666;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.achievements-bottom-line {
  border-bottom: 0.7px solid #ddd;
  margin-top: 10px;
}

#skills-arrow {
  margin-left: -5px;
}

.timeline-card:not(.active) .detailed-content {
  display: none;
}

.timeline-card.active .detailed-content {
  display: block;
}

.timeline-card:not(.active) .compact-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: start;
  padding-top: 10px;
}

.timeline-card.active .compact-content {
  display: none;
}

/* Expandable panels */
.expandable-panel {
  position: absolute;
  background-color: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 480px;
  height: auto;
  color: #666;
  font-size: 14px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s, top 0.5s ease;
}

.expandable-panel.active {
  opacity: 1;
  visibility: visible;
  z-index: 20;
}

.role-details-panel {
  top: 30px;
  width: 320px;
}

.leadership-panel {
  top: 200px;
}

.achievement1-panel, .achievement2-panel, .achievement3-panel {
  top: 300px;
}

.panel-section {
  margin-bottom: 10px;
}

.panel-section h4 {
  color: #000000;
  margin-bottom: 6px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: bold;
}

.panel-section p {
  color: #333;
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

.panel-section p .blue-text {
  color: #003DAE;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.achievement-item.active .achievement-text {
  color: #003DAE;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-right: 20px;
}

.achievement-item.active .achievement-bullet {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .expandable-panel {
      width: 320px;
  }
  
  .professional-path-container {
      right: 80px;
  }
}

@media (max-width: 768px) {
  .timeline-card.active {
      transform: scale(1.4);
  }
  
  .expandable-panel {
      width: 260px;
      left: 300px;
  }
  
  .professional-path-container {
      top: 20px;
      right: 40px;
  }
  
  .professional-path-title {
      font-size: 40px;
  }
}

@media (max-width: 576px) {
  .timeline-card.active {
      transform: scale(1.2);
  }
  
  .expandable-panel {
      display: none;
  }
  
  .professional-path-container {
      position: relative;
      top: 10px;
      right: auto;
      text-align: center;
      margin: 0 auto;
      padding: 20px;
  }
  
  .professional-path-title {
      font-size: 32px;
  }
  
  .professional-path-subtitle {
      margin: 5px auto;
  }

}